# Customise GitHub Linguist

# Include Markdown files in stats
*.md linguist-detectable

# Specify line endings for text files

.pas text
.fmx text
.dpr text
.dproj text
.gitignore text
.gitattributes text
.rc text
.md text
.txt text
.bat text
.manifest text
LICENSE text
