/*
  Copyright (c) 2021-2025, Peter Johnson, delphidabbler.com
  MIT License
  https://github.com/ddabapps/duse
*/

/*
  Program's icon
*/
MAINICON ICON "Res/DUSE.ico"

/*
  Manifest file
*/
1 24 "Res/DUSE.manifest"

/*
  Resource file containing VERSIONINFO resource statement
  Produced by Version Information Editor from DelphiDabbler
*/                                                                                                                      \
1 VERSIONINFO
FILEVERSION 0, 3, 0, 0
PRODUCTVERSION 0, 3, 0, 0
FILEFLAGSMASK 0x00
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "080904E4"
  {
   VALUE "CompanyName", "DelphiDabbler.com\000"
   VALUE "FileDescription", "Simple tool to display the unit scopes that various Delphi units belong to\000"
   VALUE "FileVersion", "0.3.0\000"
   VALUE "InternalName", "DUSE\000"
   VALUE "LegalCopyright", "Copyright (c) 2022-2025, Peter Johnson, delphidabbler.com. Released under the MIT license.\000"
   VALUE "OriginalFileName", "DUSE.exe\000"
   VALUE "ProductName", "Delphi Unit Scope Expander\000"
   VALUE "ProductVersion", "0.3.0\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 1252
 }
}
